:root {
   --head-font: "Cormorant Garamond", serif;
   --text-font: "Montserrat", sans-serif;
   --color-gold: #c99200;
   --color-white: #fff;
   --font-size: 16px;
   --text-color: #4f4f4f;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--color-white);
   font-size: var(--font-size);
   color: var(--text-color);
}
a {
   text-decoration: none;
}

.headfont {
   font-family: var(--head-font);
   text-transform: uppercase;
   /* color: var(--color-gold); */
}

.textfont {
   font-family: var(--text-font);
   font-size: var(--font-size);
   color: var(--color-white);
}

.background {
   margin: 0 20px;
   border-radius: 8px;
   padding: 10px 20px;
   color: var(--color-gold);
   background-color: var(--color-white);
   font-family: var(--text-font);
   font-size: var(--font-size);
   box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.5);
   transition: all 0.5s ease-in-out;
}

.background:hover {
   color: var(--color-white);
   background-color: var(--color-gold);
}

.links {
   font-family: var(--text-font);
   font-size: var(--font-size);
   color: var(--text-color);
}

.hero {
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 600px;
   object-fit: cover;
   top: 0;
   left: 0;
}

.overlay {
   z-index: -1;
   position: absolute;
   inset: 0;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
   width: 100%;
   height: 600px;
}

.sidebar {
   position: fixed;
   z-index: 2;
   top: 0;
   right: -260px;
   background-color: var(--color-gold);
   width: 250px;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
   transition: all 0.5s ease-in-out;
}

.active {
   right: 0;
}

.close {
   position: absolute;
   top: 15px;
   right: 30px;
   cursor: pointer;
}

.flex {
   display: flex;
   align-items: center;
   gap: 10px;
}

.width {
   width: 100%;
}

.drop-down {
   position: absolute;
   top: 60px;
   width: 180px;
   height: 120px;
   right: -30px;
   padding: 20px;
   background-color: var(--color-white);
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

/* @media screen and (max-width: 600px) {
   .hero {
      height: 100vh;
   }

   .overlay {
      height: 100vh;
   }
} */
